APLIKXAE2=ENC[AES256_GCM,data:BrCkNhwp,iv:o+mytvfYUCCY/aF3fnhAsTVsuyHgcvgLNr2wk7oG/1E=,tag:JV6g/AQt6qYAarJlaZpnEg==,type:str]
sops_age__list_0__map_enc=-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4SHBYMFNSd1UyekE1TXFN\naWlqUG1uSmpNYWNLcU1CQU42VG9JY21zUXpjCmhUUWFJZVNWekptZllmaWJzRDg4\nZGkrVkxENndmT1VmN2FwRjkvVnRRTUEKLS0tIGtrM29pZ1RkaU5nckg2YlIvM0Nm\nUXUrTFJZVlNJdndPL1MyTDJXSnVMbTgKP8soboWbyoxqax3eEqO4jM5sFdslIie7\ngrbQ7dULBFUJ3Xw7/pHOCsDPuLofwPfjdNm/3QRpNehhxRqxR+5s3g==\n-----END AGE ENCRYPTED FILE-----\n
sops_age__list_0__map_recipient=age1z4ekqymndqa0nsecuztxw2jsa9xwa4jtmqeldv3u945xhdnqfd4suujv8g
sops_lastmodified=2026-06-30T13:35:15Z
sops_mac=ENC[AES256_GCM,data:HUiHfe1XwmjVLzOeWWl0H4Cgf0uEq480e/KtjzynrTpmA/aTcfHA3uqY4fTVj42ZTeCbDofbdSaGpoiJLpBwdJh4zwdn9Li5orfre1OCrLINWss+iAxzMX6QFq8Ty2iYsaeL4hnP+rqafWG4M10P4RqZS0IjBXDzzKyzAm4+DlY=,iv:tnO1spiCXTduZyGRABpY27z3WBnmQXGg1LbA2ubWyCw=,tag:/z6CUD/8KBlW4TJdnZ/XBw==,type:str]
sops_unencrypted_suffix=_unencrypted
sops_version=3.13.0
