APLIKACE2=ENC[AES256_GCM,data:+KgW97oEX3tOFe0=,iv:0mw+eV+fSok0RAp7q1B8QX9Qx2R5ApsChUprFLnJ19o=,tag:8GAg371wSiTCz2BRbiW0zg==,type:str]
sops_age__list_0__map_enc=-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBqc29ZSXdGWGc5YngvUlE0\nZS9rbHJ0cURXT3FLZVBhdmc5MlpwRUprYkUwCnVGTFMrNEtaQVFxUlZEc3pIYzR2\nNXlXZzduWUJUSkFPVDQzQVl2M0tLNnMKLS0tIC81UlhNVGdSODY2c2NtVGNHUGhG\nelFVVlJSQTNza3dxT3dmbERUSjJoYXMKnx8O2nVZCmx3zOEe7anvk3Bkd0gvK8eS\nDPGM/iScEzMl4MV3I5V0sldXBPwI77iVqTbfVN8/eePlKxHdAfgCSA==\n-----END AGE ENCRYPTED FILE-----\n
sops_age__list_0__map_recipient=age1z4ekqymndqa0nsecuztxw2jsa9xwa4jtmqeldv3u945xhdnqfd4suujv8g
sops_lastmodified=2026-06-30T13:31:54Z
sops_mac=ENC[AES256_GCM,data:uqnagcWnpDSyXWSzmQvlN871XOlxChhNJRgSUhRlKRGbT5T70rbPDpfb82HEVLrqEhLJBVJ2AVggtEFDOI5G8VXLWQj9xQeHTr62FCGP+cnTu3KrTimvmxaEQ6XolHbpfuL4FoCimHJdARNszAyxO3u5S3uospL33MaQ41RWxdU=,iv:KoEW1w7HMhgEe4J3Frc9FsU3YQtokree96vfeyT0cI4=,tag:wAeifncbte8lpxZz7+0J2A==,type:str]
sops_unencrypted_suffix=_unencrypted
sops_version=3.13.0
